<footer class="main-footer">
    <!-- To the end -->
    <div class="float-end d-none d-sm-inline">
        Footer message here.  Version??
    </div>
    <!-- Default to the start -->
    <strong>Copyright © <a href="https://github.com/survos">Survos</a>.</strong>
</footer>
