// survos-base-bundle tweaks to adminlte.

ul .menu_level_1 li {
  padding-left: 40px;
}

ul .menu_level_2 > li {
  font-size: 90%;
  line-height: 80%;
  padding-left: 45px;
}

ul .menu_level_3 > li {
  font-size: 80%;
  padding-left: 50px;
}

.ancestor-active {
  font-weight: bolder;
  border-left-style: dot-dash;
  border-left-color: green;
}
