<!DOCTYPE html>
<!-- saved from url=(0020) -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="author" content="www.frebsite.nl">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description"
          content="The best JavaScript and WordPress plugin for creating app look-alike off-canvas menus for your website.">
    <meta name="robots" content=", follow">

    <title>{% block title %}Mmenu base template{% endblock %}</title>

{#    <link rel="canonical" href="index.html">#}
{#    <link rel="shortcut icon" type="images/ico" href="favicon.ico">#}

    <link rel="stylesheet" href="./mmenu_home_files/css">
    <link rel="stylesheet" href="./mmenu_home_files/css(1)">
    <link rel="stylesheet" href="./mmenu_home_files/font-awesome.min.css">
    <link rel="stylesheet" href="./mmenu_home_files/layout.css">


</head>
<body class="home mm-wrapper mm-wrapper_sidebar-collapsed mm-wrapper_sidebar-expanded docready vsc-initialized mm-wrapper_opened mm-wrapper_blocking mm-wrapper_background mm-wrapper_opening"
      style="">
<nav id="menu"
     class="mm-menu mm-menu_offcanvas mm-menu_iconpanel mm-menu_hidenavbar mm-menu_hidedivider mm-menu_selected-hover mm-menu_selected-parent mm-menu_sidebar-collapsed mm-menu_sidebar-expanded mm-menu_theme-white mm-menu_pagedim-black mm-menu_opened">
    <button class="mm-tabstart mm-sronly" aria-hidden="true" role="presentation"></button>
    <a class="mm-menu__blocker" href="#menu"></a>
    <div class="mm-navbars_top">
        <div class="mm-navbar">
            <div class="mm-navbar__searchfield">
                <div class="mm-searchfield">
                    <div class="mm-searchfield__input"><input type="text" autocomplete="off" placeholder="Search"><a
                                class="mm-btn mm-btn_close mm-searchfield__btn mm-hidden"
                                href="#"></a></div>
                    <a class="mm-searchfield__cancel" href="#">cancel</a></div>
            </div>
        </div>
        <div class="mm-navbar"><a class="mm-btn mm-btn_prev mm-navbar__btn mm-hidden" aria-hidden="true"></a><a
                    class="mm-navbar__title">mmenu</a></div>
    </div>

    <div class="mm-panels">
        <div id="mm-0" class="mm-panel mm-panel_opened mm-panel_iconpanel-first"><a class="mm-panel__blocker"
                                                                                    href="#mm-0"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a class="mm-navbar__title">mmenu</a>
            </div>
            <ul class="listview-icons mm-listview">

                <li class="mm-listitem"><a href="" class="mm-listitem__text"><i
                                class="fa fa-home"></i>Home</a></li>
                <li class="mm-divider">mmenu.js</li>

                <li class="mm-listitem"><a href="whats-new.html" class="mm-listitem__text"><i
                                class="fa fa-lightbulb-o"></i>What's new</a></li>
                <li class="mm-listitem"><a href="examples.html" class="mm-listitem__text"><i
                                class="fa fa-code"></i>Examples &amp; Playground</a></li>
                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-1"><span class="mm-counter">7</span><i
                                class="fa fa-file-text-o"></i>Documentation<span
                                class="mm-sronly">Open submenu</span></a></li>


                <li class="mm-listitem"><a href="download.html" class="mm-listitem__text"><i
                                class="fa fa-download"></i>Download &amp; License information</a></li>
                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-6"><span class="mm-counter">5</span><i
                                class="fa fa-graduation-cap"></i>Tutorials<span
                                class="mm-sronly">Open submenu</span></a></li>

                <li class="mm-divider">Also available</li>

                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-8"><span class="mm-counter">4</span><i class="fa fa-wordpress"></i>Mmenu
                        WordPress plugin<span class="mm-sronly">Open submenu</span></a></li>

                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-9"><span class="mm-counter">4</span><i class="fa fa-compress"></i>Mmenu
                        light<span class="mm-sronly">Open submenu</span></a></li>

                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-10"><span class="mm-counter">5</span><i class="fa fa-times"></i>Animated
                        hamburgers<span class="mm-sronly">Open submenu</span></a></li>

                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-11"><span class="mm-counter">3</span><i class="fa fa-bars"></i>Sticky
                        headers<span class="mm-sronly">Open submenu</span></a></li>

                <li class="mm-divider">Support</li>
                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-12"><span class="mm-counter">3</span><i class="fa fa-support"></i>Support<span
                                class="mm-sronly">Open submenu</span></a></li>

                <li class="mm-listitem"><a href="https://github.com/FrDH" target="_blank" class="mm-listitem__text"><i
                                class="fa fa-github"></i>Fork us on GitHub</a></li>
            </ul>
        </div>
        <div class="mm-panel mm-panel_search mm-hidden mm-panel_noanimation" data-mm-title="Search" aria-hidden="true">
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a class="mm-navbar__title">Search</a>
            </div>
            <ul class="mm-listview"></ul>
            <div class="mm-panel__content"><p>What are you looking for?<br>Search the menu or try some of these popular
                    pages:</p><a href="examples.html">Advanced examples</a><br><a
                        href="tutorials/off-canvas">Off-canvas tutorial</a><br><a
                        href="download.html">Download the plugin</a><br><a
                        href="wordpress-plugin">mmenu WordPress plugin</a><br><br><small>Documentation:</small><br
                        .=""><a href="docs/core/options.html">Options</a><br><a
                        href="docs/extensions">Extensions</a><br><a
                        href="docs/addons">Add-ons</a><br><a
                        href="docs/core/api.html">API</a></div>
            <div class="mm-panel__noresultsmsg mm-hidden">No results found.</div>
        </div>
        <div id="mm-1" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-1"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-0" aria-haspopup="true"
                        aria-owns="mm-0"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-0"
                                                                                            aria-hidden="true">Documentation</a>
            </div>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="docs" class="mm-listitem__text">Getting started</a>
                </li>
                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-2"><span class="mm-counter">9</span>Core<span class="mm-sronly">Open submenu</span></a>
                </li>
                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-3"><span class="mm-counter">12</span>Extensions<span
                                class="mm-sronly">Open submenu</span></a></li>
                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-4"><span class="mm-counter">21</span>Add-ons<span
                                class="mm-sronly">Open submenu</span></a></li>
                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-5"><span class="mm-counter">8</span>Framework wrappers<span
                                class="mm-sronly">Open submenu</span></a></li>

                <li class="mm-listitem"><a href="docs/translations.html" class="mm-listitem__text">Translations</a>
                </li>
                <li class="mm-listitem"><a href="docs/changelog.html" class="mm-listitem__text">Changelog</a>
                </li>
            </ul>
        </div>
        <div id="mm-2" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-2"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-1" aria-haspopup="true"
                        aria-owns="mm-1"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-1"
                                                                                            aria-hidden="true">Core</a>
            </div>
            <p>The plugin core consists of the actual plugin and some essential add-ons.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="docs/core"
                                           class="mm-listitem__text">Introduction</a></li>
                <li class="mm-listitem"><a href="docs/core/options.html" class="mm-listitem__text">Options</a>
                </li>
                <li class="mm-listitem"><a href="docs/core/configuration.html"
                                           class="mm-listitem__text">Configuration</a></li>
                <li class="mm-listitem"><a href="docs/core/scss.html" class="mm-listitem__text">Styling</a>
                </li>
                <li class="mm-listitem"><a href="docs/core/api.html"
                                           class="mm-listitem__text">API</a></li>
                <li class="mm-divider">Core add-ons</li>


                <li class="mm-listitem"><a href="docs/core/off-canvas.html"
                                           class="mm-listitem__text">Off-canvas</a></li>
                <li class="mm-listitem"><a href="docs/core/screen-reader.html"
                                           class="mm-listitem__text">Screen reader</a></li>
                <li class="mm-listitem"><a href="docs/core/scroll-bug-fix.html"
                                           class="mm-listitem__text">Scroll bug fix</a></li>
            </ul>
        </div>
        <div id="mm-3" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-3"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-1" aria-haspopup="true"
                        aria-owns="mm-1"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-1"
                                                                                            aria-hidden="true">Extensions</a>
            </div>
            <p>With these extensions, you can easily extend the look and feel of your menu.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="docs/extensions" class="mm-listitem__text">Introduction</a>
                </li>
                <li class="mm-divider">Available extensions</li>


                <li class="mm-listitem"><a href="docs/extensions/border-style.html"
                                           class="mm-listitem__text">Border style</a></li>
                <li class="mm-listitem"><a href="docs/extensions/effects.html"
                                           class="mm-listitem__text">Effects</a></li>
                <li class="mm-listitem"><a href="docs/extensions/fullscreen.html"
                                           class="mm-listitem__text">Fullscreen</a></li>
                <li class="mm-listitem"><a href="docs/extensions/listview.html"
                                           class="mm-listitem__text">Listview</a></li>
                <li class="mm-listitem"><a href="docs/extensions/multiline.html"
                                           class="mm-listitem__text">Multiline</a></li>
                <li class="mm-listitem"><a href="docs/extensions/page-dim.html"
                                           class="mm-listitem__text">Page dim</a></li>
                <li class="mm-listitem"><a href="docs/extensions/popup.html"
                                           class="mm-listitem__text">Popup</a></li>
                <li class="mm-listitem"><a href="docs/extensions/positioning.html"
                                           class="mm-listitem__text">Positioning</a></li>
                <li class="mm-listitem"><a href="docs/extensions/shadows.html"
                                           class="mm-listitem__text">Shadows</a></li>
                <li class="mm-listitem"><a href="docs/extensions/themes.html"
                                           class="mm-listitem__text">Themes</a></li>
            </ul>
        </div>
        <div id="mm-4" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-4"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-1" aria-haspopup="true"
                        aria-owns="mm-1"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-1"
                                                                                            aria-hidden="true">Add-ons</a>
            </div>
            <p>With these add-ons, you can easily add additional behavior to your menu.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="docs/addons"
                                           class="mm-listitem__text">Introduction</a></li>
                <li class="mm-divider">Available add-ons</li>


                <li class="mm-listitem"><a href="docs/addons/auto-height.html"
                                           class="mm-listitem__text">Auto height</a></li>
                <li class="mm-listitem"><a href="docs/addons/back-button.html"
                                           class="mm-listitem__text">Back button</a></li>
                <li class="mm-listitem"><a href="docs/addons/columns.html"
                                           class="mm-listitem__text">Columns</a></li>
                <li class="mm-listitem"><a href="docs/addons/counters.html"
                                           class="mm-listitem__text">Counters</a></li>
                <li class="mm-listitem"><a href="docs/addons/dividers.html"
                                           class="mm-listitem__text">Dividers</a></li>
                <li class="mm-listitem"><a href="docs/addons/drag.html" class="mm-listitem__text">Drag</a>
                </li>
                <li class="mm-listitem"><a href="docs/addons/dropdown.html"
                                           class="mm-listitem__text">Dropdown</a></li>
                <li class="mm-listitem"><a href="docs/addons/fixed-elements.html"
                                           class="mm-listitem__text">Fixed elements</a></li>
                <li class="mm-listitem"><a href="docs/addons/iconbar.html"
                                           class="mm-listitem__text">Iconbar</a></li>
                <li class="mm-listitem"><a href="docs/addons/icon-panels.html"
                                           class="mm-listitem__text">Icon panels</a></li>
                <li class="mm-listitem"><a href="docs/addons/keyboard-navigation.html"
                                           class="mm-listitem__text">Keyboard navigation</a></li>
                <li class="mm-listitem"><a href="docs/addons/lazy-submenus.html"
                                           class="mm-listitem__text">Lazy submenus</a></li>
                <li class="mm-listitem"><a href="docs/addons/navbars.html"
                                           class="mm-listitem__text">Navbars</a></li>
                <li class="mm-listitem"><a href="docs/addons/page-scroll.html"
                                           class="mm-listitem__text">Page scroll</a></li>
                <li class="mm-listitem"><a href="docs/addons/searchfield.html"
                                           class="mm-listitem__text">Searchfield</a></li>
                <li class="mm-listitem"><a href="docs/addons/section-indexer.html"
                                           class="mm-listitem__text">Section indexer</a></li>
                <li class="mm-listitem"><a href="docs/addons/set-selected.html"
                                           class="mm-listitem__text">Set selected</a></li>
                <li class="mm-listitem"><a href="docs/addons/sidebar.html"
                                           class="mm-listitem__text">Sidebar</a></li>
                <li class="mm-listitem"><a href="docs/addons/toggles.html"
                                           class="mm-listitem__text">Toggles</a></li>
            </ul>
        </div>
        <div id="mm-5" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-5"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-1" aria-haspopup="true"
                        aria-owns="mm-1"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-1"
                                                                                            aria-hidden="true">Framework
                    wrappers</a></div>
            <p>Fix the quirks that the mmenu.js plugin has with popular frameworks using these framework wrappers.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="docs/wrappers" class="mm-listitem__text">Introduction</a>
                </li>
                <li class="mm-divider">Available framework wrappers</li>


                <li class="mm-listitem"><a href="docs/wrappers/angular.html"
                                           class="mm-listitem__text">Angular</a></li>
                <li class="mm-listitem"><a href="docs/wrappers/bootstrap.html"
                                           class="mm-listitem__text">Bootstrap</a></li>
                <li class="mm-listitem"><a href="docs/wrappers/magento.html"
                                           class="mm-listitem__text">Magento</a></li>
                <li class="mm-listitem"><a href="docs/wrappers/olark.html"
                                           class="mm-listitem__text">Olark</a></li>
                <li class="mm-listitem"><a href="docs/wrappers/turbolinks.html"
                                           class="mm-listitem__text">Turbolinks</a></li>
                <li class="mm-listitem"><a href="docs/wrappers/wordpress.html"
                                           class="mm-listitem__text">WordPress</a></li>
            </ul>
        </div>
        <div id="mm-6" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-6"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-0" aria-haspopup="true"
                        aria-owns="mm-0"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-0"
                                                                                            aria-hidden="true">Tutorials</a>
            </div>
            <p>Here are some tutorials to help you create an amazing mobile menu yourself.</p>
            <ul class="mm-listview">
                <li class="mm-listitem">


                    <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text"
                       href="#mm-7"><span class="mm-counter">4</span>Basic off-canvas menu<span
                                class="mm-sronly">Open submenu</span></a></li>


                <li class="mm-listitem"><a href="tutorials/contact-list.html"
                                           class="mm-listitem__text">Advanced: Contact list</a></li>
                <li class="mm-listitem"><a href="tutorials/thumbnail-grid.html"
                                           class="mm-listitem__text">Advanced: Thumbnail grid</a></li>
                <li class="mm-listitem"><a href="tutorials/customized-colors.html"
                                           class="mm-listitem__text">Customized colors</a></li>
                <li class="mm-listitem"><a href="tutorials/dynamic-content.html"
                                           class="mm-listitem__text">Dynamic content</a></li>
            </ul>
        </div>
        <div id="mm-7" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-7"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-6" aria-haspopup="true"
                        aria-owns="mm-6"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-6"
                                                                                            aria-hidden="true">Basic
                    off-canvas menu</a></div>
            <p>This tutorial guides you through the first steps of creating an app look-alike sliding menu for your
                website and webapp.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="tutorials/off-canvas" class="mm-listitem__text">Getting
                        started</a></li>
                <li class="mm-listitem"><a href="tutorials/off-canvas/the-menu.html"
                                           class="mm-listitem__text">Setup the menu</a></li>
                <li class="mm-listitem"><a href="tutorials/off-canvas/fire-the-plugin.html"
                                           class="mm-listitem__text">Fire the plugin</a></li>
                <li class="mm-listitem"><a href="tutorials/off-canvas/recap.html"
                                           class="mm-listitem__text">Recap</a></li>
            </ul>
        </div>
        <div id="mm-8" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-8"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-0" aria-haspopup="true"
                        aria-owns="mm-0"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-0"
                                                                                            aria-hidden="true">Mmenu
                    WordPress plugin</a></div>
            <p>All the power and beauty of the mmenu.js plugin, implemented into an easy to use WordPress
                environment.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="wordpress-plugin" class="mm-listitem__text">Introduction</a>
                </li>
                <li class="mm-listitem"><a href="wordpress-plugin/download.html"
                                           class="mm-listitem__text">Download &amp; License information</a></li>
                <li class="mm-listitem"><a href="wordpress-plugin/changelog.html"
                                           class="mm-listitem__text">Changelog</a></li>
                <li class="mm-listitem"><a href="wordpress-plugin/readme.html"
                                           class="mm-listitem__text">Readme</a></li>
            </ul>
        </div>
        <div id="mm-9" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                        href="#mm-9"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-0" aria-haspopup="true"
                        aria-owns="mm-0"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-0"
                                                                                            aria-hidden="true">Mmenu
                    light</a></div>
            <p>Mmenu light is the extremely small and lightweight alternative to the mmenu.js plugin.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="mmenu-light" class="mm-listitem__text">Introduction
                        &amp; Download</a></li>
                <li class="mm-listitem"><a href="mmenu-light/docs.html" class="mm-listitem__text">Documentation</a>
                </li>
                <li class="mm-listitem"><a href="mmenu-light/tutorial.html"
                                           class="mm-listitem__text">Tutorial</a></li>
                <li class="mm-listitem"><a href="mmenu-light/changelog.html"
                                           class="mm-listitem__text">Changelog</a></li>
            </ul>
        </div>
        <div id="mm-10" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                         href="#mm-10"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-0" aria-haspopup="true"
                        aria-owns="mm-0"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-0"
                                                                                            aria-hidden="true">Animated
                    hamburgers</a></div>
            <p>A collection of animated hamburgers, all set up to work out of the box with the mmenu.js plugin.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="mburger" class="mm-listitem__text">Introduction
                        &amp; Download</a></li>
                <li class="mm-listitem"><a href="mburger/docs.html" class="mm-listitem__text">Documentation</a>
                </li>
                <li class="mm-listitem"><a href="mburger/tutorial-css.html"
                                           class="mm-listitem__text">Tutorial CSS</a></li>
                <li class="mm-listitem"><a href="mburger/tutorial-webcomponent.html"
                                           class="mm-listitem__text">Tutorial webcomponent</a></li>
                <li class="mm-listitem"><a href="mburger/changelog.html" class="mm-listitem__text">Changelog</a>
                </li>
            </ul>
        </div>
        <div id="mm-11" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                         href="#mm-11"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-0" aria-haspopup="true"
                        aria-owns="mm-0"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-0"
                                                                                            aria-hidden="true">Sticky
                    headers</a></div>
            <p>A small framework for creating a beautiful mobile navigation header to accompany the mmenu.js menu.</p>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="mhead" class="mm-listitem__text">Introduction &amp;
                        Download</a></li>
                <li class="mm-listitem"><a href="mhead/docs.html" class="mm-listitem__text">Documentation</a>
                </li>
                <li class="mm-listitem"><a href="mhead/tutorial.html" class="mm-listitem__text">Tutorial</a>
                </li>                            <!--
				<li><a href="/mhead/changelog.html">Changelog</a></li> -->
            </ul>
        </div>
        <div id="mm-12" class="mm-panel mm-hidden" aria-hidden="true"><a class="mm-panel__blocker"
                                                                         href="#mm-12"></a>
            <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true"><a
                        class="mm-btn mm-btn_prev mm-navbar__btn" href="#mm-0" aria-haspopup="true"
                        aria-owns="mm-0"><span class="mm-sronly">Close submenu</span></a><a class="mm-navbar__title"
                                                                                            href="#mm-0"
                                                                                            aria-hidden="true">Support</a>
            </div>
            <ul class="mm-listview">

                <li class="mm-listitem"><a href="support/tips-and-tricks.html"
                                           class="mm-listitem__text">Tips and tricks</a></li>
                <li class="mm-listitem"><a href="support/problem-solving.html"
                                           class="mm-listitem__text">Problem solving</a></li>
                <li class="mm-listitem"><a href="support/contact.html" class="mm-listitem__text">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <button class="mm-tabend mm-sronly" aria-hidden="true" role="presentation"></button>
</nav>
<div id="page" class="mm-page mm-slideout" style="">
			<span id="hamburger" class="Sticky">
				<a href="#page" class="mburger mburger--collapse">
					<b></b>
					<b></b>
					<b></b>
				</a>
			</span>

    {% block body %}

        <section class="container">
            <div id="home-intro" class="row">
                <div class="col col-sm-10 col-md-8">
                    <h1><abbr title="mobile menu">mmenu</abbr></h1>
                    <h4>Empower your website with a mobile menu that has the true native app menu experience with
                        sliding submenus.</h4>

                    <div class="buttons row">
                        <a href="download.html" title="Download the mmenu.js plugin"
                           class="col col-xs-6">
                            <span class="font">Download</span>
                            <span class="sub">mmenu.js</span>
                        </a>
                        <a href="docs" title="Getting started with the mmenu.js plugin"
                           class="col col-xs-6">
                            <span class="font">Learn mmenu</span>
                            <span class="sub">Read the docs</span>
                        </a>
                    </div>
                    <br>

                    <a href="wordpress-plugin" title="Get the mmenu WordPress plugin" class="btn">WordPress
                        plugin</a>

                    <a href="mmenu-light" title="Get the mmenu light plugin" class="btn">mmenu
                        light</a>

                    <a href="mhead" title="Get the mhead.js plugin" class="btn">Sticky headers</a>

                    <a href="mburger" title="Get animated hamburger icons"
                       class="btn">Hamburgers</a>

                </div>
            </div>

        </section>

        <section class="features">
            <div class="container">

                <div class="feature feature_stacked-phones">
                    <h4>Create a beautiful mobile menu</h4>
                    <p><strong>Looking for that true native app look and feel for your mobile menu?
                            Stop searching, you found it!</strong></p>

                    <p>No matter how large your nested menu structure is, everyone already is familiar with the sliding
                        submenus used in native apps.
                        Adding a fixed header, searchfield and subitem counters make navigating your menu even
                        easier.</p>

                    <div class="stacked-phones">
                        <div class="phone yellow hidden visible-xs">
                            <span></span>
                            <div>
                                <iframe src="./mmenu_home_files/index.html"></iframe>
                            </div>
                        </div>
                        <div class="phone">
                            <span></span>
                            <div>
                                <iframe src="./mmenu_home_files/index(1).html"></iframe>
                            </div>
                        </div>
                        <div class="phone coral hidden visible-md">
                            <span></span>
                            <div>
                                <iframe src="./mmenu_home_files/index(2).html"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="feature feature_cta">
                    <div>
                        <h4>WordPress users are in luck!</h4>
                        <p>The <abbr title="mobile menu">mmenu</abbr> WordPress plugin works out of the box.</p>
                    </div>
                    <a href="wordpress-plugin" class="btn"
                       title="Download the mmenu WordPress plugin">
                        <span class="font">get <abbr title="mobile menu">mmenu</abbr></span>
                        <span class="sub">WordPress plugin</span>
                    </a>
                </div>

                <div class="feature feature_rotatable-tablets">
                    <h4>A menu for smartphone, tablet and desktop</h4>
                    <p>Your desktop menu probably looks super cool as it is.
                        But if it doesn't, or if you want an app look-alike sidebar menu for your desktop site, just use
                        <abbr title="mobile menu">mmenu</abbr>!</p>

                    <div class="hidden visible-md">
                        <p>You can choose your own breakpoint just by specifying a media-query.
                            Give it a go, hit the orientation-icon to toggle the desktop menu.</p>

                        <div class="tablets rotatable">
                            <a href="#" class="rotate" title="Rotate the tablet">
                                <span class="portrait fa fa-tablet"></span>
                                <span class="landscape fa fa-tablet fa-rotate-90"></span>
                            </a>


                            <div class="">
                                <div class="tablet ">
                                    <span></span>
                                    <div>
                                        <iframe src="./mmenu_home_files/index(3).html"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="feature feature_cta">
                    <div>
                        <h4>Integrate <abbr title="mobile menu">mmenu</abbr> in your designs</h4>
                        <p>Download the <abbr title="mobile menu">mmenu</abbr> Sketch design file now.</p>
                    </div>
                    <a href="mmenu.sketch" class="btn" title="Download the sketch design file">
                        <span class="font">get <abbr title="mobile menu">mmenu</abbr></span>
                        <span class="sub">Sketch design</span>
                    </a>
                </div>

                <div class="feature">
                    <h4>Easy and powerful</h4>
                    <p>The mmenu.js plugin is very customizable through a wide range of
                        <a href="docs/core/options.html">options</a>,
                        <a href="docs/extensions">extensions</a> and
                        <a href="docs/addons">add-ons</a> and it will always fit your needs.
                        Below are some of the most <abbr title="beloved" style="color: #c00; font-size: 20px;">♥</abbr>
                        options.</p>
                </div>

                <div class="feature feature_customize">

                    <p><img src="./mmenu_home_files/mm_menu_colorpicker.png" alt="mobile menu colorpicker">
                        <strong>Choose a background color</strong><br>
                        Any color will do. Dark, light, black or white, the menu will always look good.</p>

                    <p><img src="./mmenu_home_files/mm_menu_position_left.png" alt="mobile menu positioned at the left">
                        <img src="./mmenu_home_files/mm_menu_position_bottom.png"
                             alt="mobile menu positioned at the bottom">
                        <img src="./mmenu_home_files/mm_menu_position_right.png"
                             alt="mobile menu positioned at the right">
                        <img src="./mmenu_home_files/mm_menu_position_top.png" alt="mobile menu positioned at the top">
                        <strong>Position the menu</strong><br>
                        Select how to position the menu; at the left, right, top or bottom side of the page.</p>

                    <p><img src="./mmenu_home_files/mm_header_navigate_button.png"
                            alt="mobile menu navigate with button">
                        <img src="./mmenu_home_files/mm_header_navigate_breadcrumbs.png"
                             alt="mobile menu navigate with breadcrumbs">
                        <img src="./mmenu_home_files/mm_header_navigate_iconpanels.png" alt="mobile menu icon panels">
                        <img src="./mmenu_home_files/mm_header_navigate_dropdown.png"
                             alt="mobile menu vertical dropdown submenus">
                        <strong>Select how to navigate</strong><br>
                        Select how to navigate between different levels in the menu; with a back-button, with
                        breadcrumbs, by showing a small part of the parent level or with vertical dropdown menus.</p>

                    <p><img src="./mmenu_home_files/mm_header_searchfield_yes.png">
                        <strong>Add a searchfield</strong><br>
                        Enable your visitors to search through the listitems by adding a searchfield to the menu.</p>

                    <p><img src="./mmenu_home_files/mm_header_buttons_yes.png">
                        <strong>Add buttons to the header or footer</strong><br>
                        Add buttons to show your social media channels, email address, phone number or whatever else you
                        think needs extra attention.</p>

                    <p><img src="./mmenu_home_files/mm_header_image_photo.png" alt="mobile menu header image photo">
                        <img src="./mmenu_home_files/mm_header_image_logo.png" alt="mobile menu header image logo">
                        <img src="./mmenu_home_files/mm_header_image_background.png"
                             alt="mobile menu header image background">

                        <strong>Add a photo, logo, or image</strong><br>
                        Personalize the menu by adding a photo, a company logo or a full width background image to the
                        menu header.</p>
                </div>

                <div class="feature">
                    <h4>Wanna see?</h4>
                    <p>Go ahead and check out the <a href="examples.html"
                                                     title="Go to the advanced examples">advanced examples</a>.</p>
                </div>

            </div>
        </section>

        <section class="container" style="padding-top: 80px;">

            <a href="docs" title="Getting started with the mmenu.js plugin" class="btn">mmenu.js</a>

            <a href="mmenu-light" title="Get the mmenu light plugin" class="btn">mmenu light</a>

            <a href="wordpress-plugin" title="Get the mmenu WordPress plugin" class="btn">WordPress
                plugin</a>

            <a href="mhead" title="Get the mhead.js plugin" class="btn">Sticky headers</a>

            <a href="mburger" title="Get animated hamburger icons" class="btn">Hamburgers</a>

        </section>

    {% endblock %}


</div> <!-- end of page -->


<script src="./mmenu_home_files/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="./mmenu_home_files/jquery-3.2.1.min.js"></script>


<script src="./mmenu_home_files/mmenu.polyfills.js"></script>
<script src="./mmenu_home_files/mmenu.js"></script>

{#something in here hides the menu#}
<script src="./mmenu_home_files/layout.js"></script>


<script src="./mmenu_home_files/playground.js"></script>


<!-- async loading of CSS, for Googles sake :/ -->

<script>
    var loadDeferredStyles = function () {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        // replacement.innerHTML 	= addStylesNode.textContent;
        // document.body.appendChild( replacement );
        // addStylesNode.parentElement.removeChild( addStylesNode );
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) raf(function () {
        window.setTimeout(loadDeferredStyles, 0);
    });
    else window.addEventListener("load", loadDeferredStyles);
</script>

<!-- no js message -->
<noscript>
    <style>
        body.home #page::before {
            content: none;
            display: none;
        }

        #hamburger {
            display: none;
        }

        #check a,
        .buttons a .font,
        .features .cta h4,
        .features .cta a.btn,
        .features .container h4,
        .features .container h5,
        .features .container h6,
        .features .container a,
        .table thead {
            color: #e34545 !important;
        }

        .feature_cta a.btn,
        .buttons a + a {
            border-color: #e34545 !important;
        }

        body,
        #page,
        label.mm-toggle:before {
            background: #e34545 !important;
        }

        #page {
            padding-top: 900px;
            padding-top: 115vh;
            padding-top: calc(100vh + 100px);
        }

        #page,
        .mm-slideout {
            width: 100% !important;
            margin-left: 0 !important;
            transform: none !important;
        }
    </style>

    <div id="noscript">
        <div>
            <h1>Oh no!</h1>
            <p>This page is red,<br/>
                It should have been blue.</p>
            <p>Please enable JavaScript,<br/>
                <a href="https://www.google.nl/#q=how+to+enable+javascript" target="_blank">click here</a> if you don't
                know how to.</p>
        </div>
    </div>
</noscript>


<div class="mm-wrapper__blocker mm-slideout"><a class="mm-tabstart" href="#page" aria-hidden="true"
                                                role="presentation"><span class="mm-sronly">Close menu</span></a>
    <button class="mm-tabend mm-sronly" aria-hidden="true" role="presentation"></button>
</div>
<div>
    <link rel="stylesheet" type="text/css" href="./mmenu_home_files/rainbow.min.css">

    <link rel="stylesheet" type="text/css" href="./mmenu_home_files/mmenu.css">
    <link rel="stylesheet" type="text/css" href="./mmenu_home_files/mburger.css">
</div>
</body>
<div></div>
</html>
