<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}mmenu.js demo{% endblock %}</title>
</head>
<body>
<div id="html_content">
{% block body %}
    Only render the body.
{% endblock %}
</div>
</body>

</html>
