{% extends ['admin_base.html.twig', "base.html.twig", "SurvosBaseBundle::base.html.twig"] %}

{% block body %}

    <a href="{{ appInfo.app.web_url }}" target="_blank">{{ appInfo.app.web_url }}</a>
{#
{{ dump(appInfo, appInfo.app) }}
#}
{% endblock %}
