<nav id="sidebar" class="sidebar" is="umbrella-sidebar">
    <div class="sidebar-content">
        <div class="sidebar-brand mx-auto"> <span>Admin</span> </div>
        <div class="sidebar-nav">

            <li class="sidebar-item " data-search="Home">
                <a class="sidebar-link" href="/admin"> <i class="mdi mdi-home"></i> <span class="align-middle">Home!!</span> </a>
                <a class="sidebar-link" href="/admin"> <i class="mdi mdi-home"></i> <span class="align-middle">Test!!</span> </a>
            </li>
        </div>
    </div>
</nav>
